/* ----- reset browsers styles ----- */

a {
    text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: none;
}

a:focus {
  outline: none;
}

ul,
li {
  list-style: none;
  position: relative;
}

pre {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
}

/* ----- end reset browsers styles ----- */

/* ------ common styles ------ */

html,
body {
  font-family: Nunito, sans-serif;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.333;
  color: #646084;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

svg {
  width: 100%;
  height: 100%;
}

img {
  max-width: 100%;
  height: auto;
}

main {
  position: relative;
  z-index: 6;
}

.section-title {
  margin-bottom: 25px;
  font-family: Quicksand;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.25;
  color: #494376;
}

.section-leading {
  font-weight: normal;
  font-size: 20px;
  line-height: 1.4;
}

.btn {
  display: inline-block;
  width: 250px;
  height: 70px;
  font-weight: bold;
  font-size: 20px;
  line-height: 75px;
  text-align: center;
  border-radius: 50px;
  color: #fff;
}

.btn--blue {
  background: linear-gradient(90deg, #5585ED 0%, #76BBFE 100%);
}

.btn--orange {
  background: linear-gradient(90deg, #FC8C3C 0%, #FCC43C 100%);
}

/* ------ end common styles ------ */


/* ------ page grid styles ------ */
.container {
  max-width: 1320px;
  margin: 0 auto;
}

.inner {
  display: flex;
}

.wide-row {
  justify-content: space-between;
}

.center-col {
  align-items: center;
}

.col {
  position: relative;
}

/* ------ end page grid styles ------ */


/* ------ Header ------ */
.o4g-page {
  overflow: hidden;
  min-height: 100vh;
}

.header {
  position: relative;
  background: linear-gradient(90.03deg, #FFFFFF 0.02%, #E6E7EF 99.97%);
  background-repeat: no-repeat;
  background-size: 100% 78%;
}

.header:after {
  position: absolute;
  top: -355px;
  right: -132px;
  z-index: 3;
  content: '';
  height: 65vw;
  width: 65vw;
  border-radius: 50%;
  background: linear-gradient(180deg, #B9CEF9 0%, rgba(185, 206, 249, 0) 100%);
}

.header-dev {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 46px;
  background-color: #f7f8fa;
  z-index: 4;
}

.dev-logo {
  display: flex;
  align-items: center;
}

.dev-logo__inner {
  overflow: hidden;
  height: 16px;
  display: flex;
  flex-direction: column;
}

.dev-logo__inner:first-child {
  text-align: right;
}

.dev-logo__text {
  font-size: 13px;
  letter-spacing: 0.4px;
  color: #000;
}

.dev-logo__text,
.dev-logo__text--hidden {
  transition: transform .5s;
}

.dev-logo:hover .dev-logo__text,
.dev-logo:hover .dev-logo__text--hidden {
  transform: translateY(-17px);
}

.dev-logo__link {
  color: #1c85c8;
  transition: opacity .3s;
}

.dev-logo__link:hover {
  opacity: .7;
}

.dev-logo__icon__link {
  display: inline-block;
  width: 62px;
  height: 28px;
  margin: 0 10px;
  vertical-align: middle;
}

.dev-logo__icon__path {
  transition: fill .3s;
}

.dev-logo:hover .dev-logo__icon__path {
  fill: #1c85c8;
}



.header-nav {
  position: relative;
  z-index: 5;
  padding: 9px 0;
}

.menu {
  position: relative;
  z-index: 2;
  display: flex;
  margin-right: 13px;
}

.menu__item {
  margin-right: 71px;
}

.menu__item:last-child {
  margin-right: 0;
}

.menu__link {
  font-family: Nunito, sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.375;
  color: #494376;
}



.header-text {
  padding-top: 127px;
}

.header-content {
  position: relative;
  z-index: 4;
}

.header-title {
  margin-bottom: 25px;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  font-size: 70px;
  line-height: 1.357;
  color: #494376;
}

.header-leading {
  max-width: 380px;
  margin-bottom: 110px;
  font-weight: normal;
  font-size: 26px;
  line-height: 1.346;
}

.header-btn .btn:first-child {
  margin-right: 14px;
}


.header-media {
  position: relative;
  z-index: 2;
  margin-top: -34px;
  margin-right: -152px; 
}


.header-shape {
  position: absolute;
  bottom: -181px;
  z-index: 3;
  width: 100%;
  height: 360px;
}


.header-bottom {
  position: absolute;
  bottom: -300px;
  z-index: -1;
  width: 100%;
  height: 614px;
  background: linear-gradient(180.42deg, #fbcd88 39.68%, rgba(255, 226, 99, 0) 89.24%);
}

.header-bottom:after {
  position: absolute;
  top: -217px;
  left: 0;
  height: 814px;
  width: 100%;
  content: '';
  background: url('img/header_bg_vawe.png') no-repeat;
  background-size: cover;
  background-position: center;
}

/* ------ end Header ------ */

/* ------ Page nav part ------ */
.section-nav {
  padding-top: 150px;
}

.page-nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 920px;
  margin: 0 auto;
}

.page-nav__link {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.389;
  text-align: center;
  color: #494376;
}

/* ------ end Page nav part ------ */

/* ------ About section ------ */
.section-about {
  padding-top: 150px;
  padding-bottom: 75px;
}

.about-col--left {
  max-width: 470px;
  margin-left: calc((100% - 1320px) / 2);
  margin-top: -15px;
}

.about-col--left:before {
  position: absolute;
  top: 71px;
  left: -208px;
  content: '';
  width: 406px;
  height: 410px;
  border-radius: 50%;
  background: linear-gradient(72.94deg, #8BAEF5 -34.63%, rgba(139, 174, 245, 0) 58.32%);
}

.about-leading {
  margin-bottom: 90px;
}

.about-users {
  display: flex;
  justify-content: space-between;
}

.about-col--right:after {
  z-index: -1;
  position: absolute;
  bottom: -105px;
  right: 90px;
  content: '';
  width: 331px;
  height: 311px;
  border-radius: 50%;
  background: linear-gradient(270deg, #E6E9EE 12.81%, rgba(255, 255, 255, 0.1) 100%);
} 

.about-media {
  margin-left: -166px;
}

.about-img {
  display: inline-block;
  max-width: 1308px;
  width: 100%;
}
/* ------ end About section ------ */

/* ------ Core Functions section ------ */
 
.section-functions {
  padding-top: 100px;
}

.functions-title {
  text-align: center;
}

.functions {
  position: relative;
  display: flex;
  justify-content: space-between;
  max-width: 1300px;
  margin: 0 auto;
  padding-top: 60px;
}

.functions:after {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: -1;
  transform: translateX(-50%);
  content: '';
  width: 813px;
  height: 819px;
  border-radius: 50%;
  background: linear-gradient(180.01deg, #C4D5FA 0.01%, rgba(255, 255, 255, 0.1) 86.27%);
}

.functions__item {
  text-align: center;
}

.functions__item--1,
.functions__item--5 {
  margin-top: 22px;
}

.functions__item--2,
.functions__item--4 {
  margin-top: 175px;
}

.functions__img {
  display: inline-block;
  margin-bottom: 17px;
}

.functions__text {
  padding: 0 18px;
}

/* ------ end Core Functions section ------ */
