/* ----- reset browsers styles ----- */

a {
    text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: none;
}

a:focus {
  outline: none;
}

ul,
li {
  list-style: none;
  position: relative;
}

pre {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
}

/* ----- end reset browsers styles ----- */

/* ------ common styles ------ */

html,
body {
  font-family: Nunito, sans-serif;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.333;
  color: #646084;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

svg {
  width: 100%;
  height: 100%;
}

img {
  max-width: 100%;
  height: auto;
}

main {
  position: relative;
  z-index: 6;
}

.section-title {
  margin-bottom: 25px;
  font-family: Quicksand;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.25;
  color: #494376;
}

.section-leading {
  font-weight: normal;
  font-size: 20px;
  line-height: 1.4;
}

.btn {
  display: inline-block;
  width: 250px;
  height: 70px;
  font-weight: bold;
  font-size: 20px;
  line-height: 70px;
  text-align: center;
  border-radius: 50px;
  color: #fff;
}

.btn--blue {
  background: linear-gradient(90deg, #5585ED 0%, #76BBFE 100%);
}

.btn--orange {
  background: linear-gradient(90deg, #FC8C3C 0%, #FCC43C 100%);
}

/* ------ end common styles ------ */


/* ------ page grid styles ------ */
.container {
  position: relative;
  max-width: 1320px;
  margin: 0 auto;
}

.inner {
  display: flex;
}

.inner--column {
  display: flex;
  flex-direction: column;
}

.wide-row {
  justify-content: space-between;
}

.wide-row--reverse {
  flex-direction: row-reverse;
}

.center-col {
  align-items: center;
}

.col {
  position: relative;
}

/* ------ end page grid styles ------ */


/* ------ Header ------ */
.o4g-page {
  overflow: hidden;
  min-height: 100vh;
}

.header {
  position: relative;
  background: linear-gradient(90.03deg, #FFFFFF 0.02%, #E6E7EF 99.97%);
  background-repeat: no-repeat;
  background-size: 100% 78%;
}

.header:after {
  position: absolute;
  top: -355px;
  right: -132px;
  z-index: 3;
  content: '';
  height: 65vw;
  width: 65vw;
  border-radius: 50%;
  background: linear-gradient(180deg, #B9CEF9 0%, rgba(185, 206, 249, 0) 100%);
}

.header-dev {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 46px;
  background-color: #f7f8fa;
  z-index: 4;
}

.dev-logo {
  display: flex;
  align-items: center;
}

.dev-logo__inner {
  overflow: hidden;
  height: 16px;
  display: flex;
  flex-direction: column;
}

.dev-logo__inner:first-child {
  text-align: right;
}

.dev-logo__text {
  font-size: 13px;
  letter-spacing: 0.4px;
  color: #000;
}

.dev-logo__text,
.dev-logo__text--hidden {
  transition: transform .5s;
}

.dev-logo:hover .dev-logo__text,
.dev-logo:hover .dev-logo__text--hidden {
  transform: translateY(-17px);
}

.dev-logo__link {
  color: #1c85c8;
  transition: opacity .3s;
}

.dev-logo__link:hover {
  opacity: .7;
}

.dev-logo__icon__link {
  display: inline-block;
  width: 62px;
  height: 28px;
  margin: 0 10px;
  vertical-align: middle;
}

.dev-logo__icon__path {
  transition: fill .3s;
}

.dev-logo:hover .dev-logo__icon__path {
  fill: #1c85c8;
}



.header-nav {
  position: relative;
  z-index: 5;
  padding: 9px 0;
}

.menu {
  position: relative;
  z-index: 2;
  display: flex;
  margin-right: 13px;
}

.menu__item {
  margin-right: 71px;
}

.menu__item:last-child {
  margin-right: 0;
}

.menu__link {
  font-family: Nunito, sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.375;
  color: #494376;
}



.header-text {
  padding-top: 127px;
}

.header-content {
  position: relative;
  z-index: 4;
}

.header-title {
  margin-bottom: 25px;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  font-size: 70px;
  line-height: 1.357;
  color: #494376;
}

.header-leading {
  max-width: 380px;
  margin-bottom: 110px;
  font-weight: normal;
  font-size: 26px;
  line-height: 1.346;
}

.header-btn .btn:first-child {
  margin-right: 14px;
}


.header-media {
  position: relative;
  z-index: 2;
  margin-top: -34px;
  margin-right: -152px;
}


.header-shape {
  position: absolute;
  bottom: -181px;
  z-index: 3;
  width: 100%;
  height: 360px;
}


.header-bottom {
  position: absolute;
  bottom: -300px;
  z-index: -1;
  width: 100%;
  height: 614px;
  background: linear-gradient(180.42deg, #fbcd88 39.68%, rgba(255, 226, 99, 0) 89.24%);
}

.header-bottom:after {
  position: absolute;
  top: -217px;
  left: 0;
  height: 814px;
  width: 100%;
  content: '';
  background: url('img/header_bg_vawe.png') no-repeat;
  background-size: cover;
  background-position: center;
}

/* ------ end Header ------ */

/* ------ Page nav part ------ */
.section-nav {
  padding-top: 150px;
}

.page-nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 920px;
  margin: 0 auto;
}

.page-nav__link {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.389;
  text-align: center;
  color: #494376;
}

/* ------ end Page nav part ------ */

/* ------ About section ------ */
.section-about {
  padding-top: 150px;
  padding-bottom: 75px;
}

.about-col--left {
  max-width: 470px;
  margin-left: calc((100% - 1320px) / 2);
  margin-top: -15px;
}

.about-col--left:before {
  position: absolute;
  top: 71px;
  left: -208px;
  content: '';
  width: 406px;
  height: 410px;
  border-radius: 50%;
  background: linear-gradient(72.94deg, #8BAEF5 -34.63%, rgba(139, 174, 245, 0) 58.32%);
}

.about-leading {
  margin-bottom: 90px;
}

.about-users {
  display: flex;
  justify-content: space-between;
}

.about-col--right:after {
  z-index: -1;
  position: absolute;
  bottom: -105px;
  right: 90px;
  content: '';
  width: 331px;
  height: 311px;
  border-radius: 50%;
  background: linear-gradient(270deg, #E6E9EE 12.81%, rgba(255, 255, 255, 0.1) 100%);
}

.about-media {
  margin-left: -166px;
}

.about-img {
  display: inline-block;
  max-width: 1308px;
  width: 100%;
}
/* ------ end About section ------ */

/* ------ Core Functions section ------ */

.section-functions {
  padding-top: 100px;
  padding-bottom: 100px;
}

.functions-title {
  text-align: center;
}

.functions {
  position: relative;
  display: flex;
  justify-content: space-between;
  max-width: 1300px;
  margin: 0 auto;
  padding-top: 60px;
}

.functions:after {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: -1;
  transform: translateX(-50%);
  content: '';
  width: 813px;
  height: 819px;
  border-radius: 50%;
  background: linear-gradient(180.01deg, #C4D5FA 0.01%, rgba(255, 255, 255, 0.1) 86.27%);
}

.functions__item {
  text-align: center;
}

.functions__item--1,
.functions__item--5 {
  margin-top: 22px;
}

.functions__item--2,
.functions__item--4 {
  margin-top: 175px;
}

.functions__img {
  display: inline-block;
  margin-bottom: 17px;
}

.functions__text {
  padding: 0 18px;
}

/* ------ end Core Functions section ------ */

/* ------ Syncing section ------- */

.section-syncing {
  position: relative;
  padding-top: 130px;
  padding-bottom: 55px;
}

.section-syncing:before {
  position: absolute;
  top: 57px;
  left: 128px;
  z-index: -1;
  content: '';
  width: 394px;
  height: 397px;
  border-radius: 50%;
  background: linear-gradient(141.81deg, #E6E9EE 5.21%, rgba(255, 255, 255, 0.1) 90.73%);
}

.section-syncing .col {
  width: 50%;
}

.sync-leading {
  padding-right: 95px;
  line-height: 1.2;
}

.sync-media {
  margin-left: 17px;
  margin-top: 10px;
}

.sync-img {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.25);
}

.sync-middle {
  margin: -71px 0 -90px;
  padding: 102px 0;
  text-align: right;
  color: #fff;
  background: linear-gradient(-89.6deg, rgba(89, 139, 240, 0.7) 44.11%, rgba(116, 184, 254, 0) 95.51%);
}

.sync-middle .sync-title {
  margin-top: -26px;
  color: #fff;
}

.sync-middle .sync-leading {
  padding-right: 0;
  padding-left: 95px;
}

.sync-middle .sync-media {
  margin: 0 20px 0 0;
}

.sync-bottom .sync-title {
  margin-top: -25px;
  margin-bottom: 31px;
}

/* ------ end Syncing section ------- */

/* ------  Features section ------ */

.section-features {
  position: relative;
  overflow: hidden;
  margin-bottom: -19px;
  padding-top: 150px;
  padding-bottom: 20px;
}

.section-features:before {
  position: absolute;
  top: 0;
  right: -114px;
  z-index: -1;
  width: 88vw;
  height: 88.65vw;
  content: '';
  border-radius: 50%;
  background: linear-gradient(236.67deg, #E6E9EE 1.03%, rgba(255, 255, 255, 0.1) 85.54%);
}

.section-features:after {
  position: absolute;
  top: 535px;
  left: 64px;
  z-index: -1;
  width: 471px;
  height: 474px;
  content: '';
  border-radius: 50%;
  background: linear-gradient(226.76deg, #FBB188 11.43%, rgba(255, 226, 99, 0) 86.14%);
}

.features-title {
  margin-bottom: 97px;
  text-align: center;
}

.features-table {
  width: 100%;
  border-radius: 10px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.25);
  background-color: #fff;
}

.features-heading th {
  border-right: 4px solid rgba(67,82,91, .1);

}

.features-heading th:last-child {
  padding-left: 18px;
  border-right-color: transparent;
  text-align: left;
}

.feature-heading--wide {
  padding-left: 142px;
  text-align: left;
}

.features-heading span {
  position: relative;
  top: -30px;
  display: inline-block;
  width: 140px;
  height: 60px;
  font-family: Quicksand;
  font-weight: bold;
  font-size: 24px;
  line-height: 60px;
  text-align: center;
  color: #FFFFFF;
  background: #8BAEF5;
  border-radius: 10px;
}

.feature-heading--wide span {
  width: 252px;
}

tr {
  padding-right: 79px;
}

td {
  line-height: 2.778;
  border-right: 4px solid rgba(67,82,91, .1);
  border-collapse: collapse;
  border-spacing: 0;
  text-align: center;
}

td:last-child {
  border-right-color: transparent;
  padding: 0 138px 0 55px;
}

tr:nth-child(even) {
  background: linear-gradient(90deg, rgba(228, 240, 254, 0) -12.88%, #E4F0FE 51.35%, rgba(228, 240, 254, 0) 112.95%);
}

tr:last-child {
  height: 42px;
}

.feature-type {
  padding: 29px 0 15px 142px;
  font-family: Quicksand;
  font-weight: normal;
  font-size: 26px;
  line-height: 1.731;
  text-align: left;
  color: #494376;
}

.feature-type__first {
  padding-top: 19px;
}

.feature-text {
  width: 891px;
  padding-left: 142px;
  text-align: left;
}

.feature-check {
  background: url('img/check.png') no-repeat;
  background-position: 77px;
}

/* ------ end Features section ------ */


/* ------ Boost section ------ */

.section-boost {
  padding: 190px 0 200px;
  background: linear-gradient(89.3deg, rgba(89, 139, 240, 0.7) 49.99%, rgba(116, 182, 254, 0) 97.63%);
}

.boost-title {
  max-width: 655px;
  margin-bottom: 60px;
  color: #fff;
}

.boost-btn .btn {
  border: 2px solid #fff;
}

.boost-btn .btn:first-child {
  margin-right: 20px;
}
/* ------ end Boost section ------ */
